boto3
cellpose==2.2
cython
docutils
google-cloud-storage
h5py
matplotlib
networkx>=3.0
numexpr
numpy
opencv-python
pandas
pyclustering
pyqt5
pytest
pytest-cov
python-dotenv
requests
rtree
scikit-image
scikit-learn
scipy
seaborn
setuptools
shapely>=2.0
snakemake
Sphinx
sphinx-rtd-theme
tables
tifffile
urllib3
xmltodict
